﻿@model s1061708.ViewModel.BMIData

<h2>BMI計算</h2>

<form action=@Url.Action("Index") method="post">
    <p>BMI = 體重(kg)/(身高*身高)(m)</p>
    @Html.DisplayNameFor(m => m.Height)@Html.TextBoxFor(m => m.Height)@Html.ValidationMessageFor(modelItem => @Model.Height)<br />
    @Html.DisplayNameFor(d => d.Weight)@Html.TextBoxFor(d => d.Weight)@Html.ValidationMessageFor(modelItem => @Model.Weight)<br />


    <p><input type="submit" name="submit data" value="submit" /></p>
</form>

<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>
