﻿
@{
    ViewBag.Title = "HTML";
}

<h2>HTML</h2>

<p> 姓名 : <input type="text" name="name" value="" /></p>
<p> 帳號 : <input type="text" name="account" value="" /></p>
<p> 密碼 : <input type="password" name="password" value="" /></p>
<p> 性別 : 
    <input type="radio" name="gender" value="A" />男生 
    <input type="radio" name="gender" value="B" />女生
</p>
<p> 興趣 :
    <input type="checkbox" name="item" value="A" />游泳
    <input type="checkbox" name="item" value="A" />閱讀
    <input type="checkbox" name="item" value="A" />看電影
</p>
<p>自我介紹 : <textarea rows="10" cols="30" name ="message">The cat was playing in the garden.</textarea></p>
