﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p> 姓名 : @Html.TextBox("name")</p>
<p> 帳號 : @Html.TextBox("account")</p>
<p> 密碼 : @Html.Password("password")</p>
<p> 性別 : 
    @Html.RadioButton("gender","A")男生 
    @Html.RadioButton("gender","B")女生
</p>
<p> 興趣 : 
    @Html.CheckBox("item1","A")游泳
    @Html.CheckBox("item2","B")閱讀
    @Html.CheckBox("item3","C")看電影
 </p>
<p>自我介紹 : @Html.TextArea("message","",10,30,"")</p>

@*<p> 姓名 : <input type="text" name="name" value="" /></p><br />
    <p> 帳號 : <input type="text" name="account" value="" /></p><br />
    <p> 密碼 : <input type="password" name="password" value="" /></p><br />
    <p> 性別 : <input type="radio" name="gender" value="A" />男生 <input type="radio" name="gender" value="B" />女生</p><br />
    <p> 興趣 : <input type="checkbox" name="item" value="A" />游泳<input type="checkbox" name="item" value="A" />閱讀<input type="checkbox" name="item" value="A" />看電影</p><br />
    <p>自我介紹 : <textarea rows="10" cols="30" name="message">The cat was playing in the garden.</textarea></p>*@